# Tuple is a collection of hetrogenous python objects

# Creting Tuples

In [1]:
emp =()

In [2]:
print(type(emp))

<class 'tuple'>

In [3]:
print(emp)

()

In [5]:
city = "Berlin",

In [6]:
type(city)

tuple

In [7]:
city = ("Berlin",)
city

('Berlin',)

In [8]:
city = ("Lisbon","Porto", "Aveiro")
city

('Lisbon', 'Porto', 'Aveiro')

In [10]:
list1 = [1,2,3,4]
tuple1 = (1,2,3,4)
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [11]:
tuple1.append(5)
print(tuple1)

AttributeError: 'tuple' object has no attribute 'append'

# so we can change lists but not tuple because tuples are immutable and lists are mutable

In [12]:
print(city)

('Lisbon', 'Porto', 'Aveiro')

In [13]:
print(city[1])

Porto

In [15]:
print(city[2])

Aveiro

In [16]:
city[-1]

'Aveiro'

# Cancatenation

In [17]:
print(city)

('Lisbon', 'Porto', 'Aveiro')

In [18]:
num = 1,2,3,4

In [19]:
print(city+num)

('Lisbon', 'Porto', 'Aveiro', 1, 2, 3, 4)

# Nesting

In [20]:
nest = (city, num)
print(nest)

(('Lisbon', 'Porto', 'Aveiro'), (1, 2, 3, 4))

# Repetition

In [22]:
rep =("Python",)*5
rep

('Python', 'Python', 'Python', 'Python', 'Python')

In [23]:
rep =("Python",)
print(rep*10)

('Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python')

In [24]:
rep

('Python',)

In [25]:
rep = ("Python",)*10
rep

('Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python')

# Slicing

In [26]:
num

(1, 2, 3, 4)

In [27]:
num[1:]

(2, 3, 4)

In [29]:
num[::-1]

(4, 3, 2, 1)

# Unpacking

In [30]:
"Simplilearn"

'Simplilearn'

In [31]:
tuple("Simplilearn")

('S', 'i', 'm', 'p', 'l', 'i', 'l', 'e', 'a', 'r', 'n')

In [32]:
print(num)

(1, 2, 3, 4)

In [33]:
tuple(num)

(1, 2, 3, 4)

In [34]:
a,b,c,d = num
num

(1, 2, 3, 4)

In [35]:
a, *b,c = num
num

(1, 2, 3, 4)

In [36]:
print(a,b,c)

1 [2, 3] 4

# Deleting Tuple

In [37]:
tuple1 = (1,2,3,4)
tuple1

(1, 2, 3, 4)

In [38]:
del tuple1

In [39]:
tuple1

NameError: name 'tuple1' is not defined

# Built in Functions

In [41]:
num1 = [1,234,513,56,3,4,1,2,4,5,4,4,5,4,4]
num1.count(4)

6

In [42]:
sum(num1)

844

In [43]:
len(num1)

15

In [44]:
max(num1)

513

In [45]:
min(num1)

1

# Convert list to Tuple

In [48]:
lst = [1,2,3,4,5]
type(lst)
lst
print(type(lst))

<class 'list'>

In [49]:
tpl = tuple(lst)
tpl
print(type(tpl))

<class 'tuple'>

# Nesting Tuples in Lists

In [57]:
lst = [(1,2,3),(4,5,6)]
lst

[(1, 2, 3), (4, 5, 6)]

In [58]:
type(lst)

list

In [59]:
lst.append(("Tuple","Inside","List"))
lst

[(1, 2, 3), (4, 5, 6), ('Tuple', 'Inside', 'List')]

In [60]:
lst.extend(("one","two","three"))
lst

[(1, 2, 3), (4, 5, 6), ('Tuple', 'Inside', 'List'), 'one', 'two', 'three']

In [61]:
lst.remove((1,2,3))
lst

[(4, 5, 6), ('Tuple', 'Inside', 'List'), 'one', 'two', 'three']

# Nesting Lists within Tuples

In [62]:
tpl =(["a","b","c"],["d","e","f"])
tpl

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [63]:
type(tpl)

tuple

In [64]:
tpl[0].append("z")
tpl

(['a', 'b', 'c', 'z'], ['d', 'e', 'f'])

In [67]:
tpl[0].remove("z")

In [68]:
tpl

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [69]:
tpl.append(["z","t","g"])
tpl

AttributeError: 'tuple' object has no attribute 'append'